<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        }
    </style>
</head>
<body>
    <h1>URL Shortner</h1>
   <% if(locals.id) { %>
    <p>URL generated : http://localhost:8001/url/<%=id %></p>
<% } %>
    <div>
        <form action="/url" method="POST">
     <label for="">Enter you url : </label>
    <input type="text" name = 'url' placeholder="http://example.com"/>
    <button type="submit"> Genrate</button>
        </form>
    </div>
    <% if(locals.urls) { %>
          <table>
            <thead>
                <th>S.No</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach((ele , idx) => {  %>
                    <tr> 
                    <td><%=idx+1 %></td>
                    <td><%=ele.shortId %></td>
                    <td><%=ele.redirectUrl %></td>
                    <td><%=ele.visitHistory.length %></td>     
                   </tr>
                <% }); %>

            </tbody>
          </table>
    
        <% } %>

</body>
</html>